/*  --- Project 1 --- */
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  font-family: Orbitron;
}

/*--- navbar start --- */
.navbar-container {
  margin: 10px 10px;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
}

.navbar-container>div>img {
  margin-left: 90px;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.list-item {
  float: left;
  margin-right: 35px;
  width: 35%;
  font-family: Orbitron;
  font-weight: 600;
  font-size: 18px;
}

.list-item:first-child {
  padding-bottom: 3px;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.list-item:hover {
  padding-bottom: 3px;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.button-group {
  height: 45px;
  float: right;
  width: 50px;
  margin-right: 90px;
}

.search-icon {
  position: absolute;
  right: 15%;
  margin-right: 5px;
}

.nav-button {
  height: 35px;
  width: 120px;
  background-color: transparent;
  padding: 4px 10px 4px 10px;
  color: #7e7b7b;
  border-radius: 7px;
  margin-top: 30px;
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 15px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #000;
  color: #fff;
}

/*--- navbar End --- */
/* --- Hero Banner Section start --- */
.hero-container {
  height: 80vh;
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.square {
  position: absolute;
  bottom: -15%;
  left: 13%;
  z-index: -1;
  height: 400px;
}

.star {
  position: absolute;
  top: 13%;
  right: 8%;
}

.globe {
  position: absolute;
  top: 8%;
  left: 60%;
}

.hero-container>div>img {
  height: 500px;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.hero-container-right {
  position: absolute;
  right: 2%;
  top: 30%;
  width: 600px;
}

.hero-heading {
  font-family: Orbitron;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.hero-description {
  font-family: poppins;
  font-size: 15px;
  color: #696767;
  text-align: center;
}

.button-email {
  padding: 10px 17px;
  background-color: transparent;
  color: #696767;
  border-radius: 5px;
  font-family: Orbitron;
  margin-left: 180px;
  margin-top: 35px;
  margin-right: 25px;
  font-weight: 400;
}

.button-email:hover {
  background-color: #000000;
  color: #fff;
  font-weight: 800;
}

.button-join {
  background-color: #000;
  padding: 10px 17px;
  color: #fff;
  border-radius: 5px;
  font-family: Orbitron;
  font-weight: 400;
}

.button-join:hover {
  background-color: transparent;
  color: #363636;
  border: 2px solid #000000;
  font-weight: 800;
}

.contact-heading {
  text-align: center;
  color: #7e7b7b;
  margin-top: 50px;
}

.contact-heading:hover {
  color: #000;
}

.icons {
  text-align: center;
}

.icons>span>img:hover {
  border-radius: 50%;
  box-shadow: 0 3px 15px #000;
}

/*--- Media Queries ---*/
@media screen and (max-width: 1199px) and (min-width: 1080px) {
  .navbar-container>div>img {
    margin-left: 30px;
  }

  .list {
    width: 60%;
  }

  .search-icon {
    right: 20%;
  }

  .hero-container>div>img {
    margin-left: 30px;
    height: 400px;
  }

  .square {
    left: 3%;
    top: 24%;
  }
}

@media screen and (max-width: 1079px) and (min-width: 770px) {
  .navbar-container>div>img {
    margin-left: 30px;
  }

  .list {
    width: 60%;
  }

  .search-icon {
    right: 20%;
  }

  .hero-container>div>img {
    margin-left: 30px;
    height: 400px;
  }

  .square {
    left: 3%;
    top: 24%;
  }

  .hero-container-right {
    width: 540px;
  }
}

@media screen and (max-width: 770px) and (min-width: 480px) {
  .list {
    display: none;
  }

  .search-icon {
    right: 25%;
  }

  .nav-button {
    top: 0%;
  }

  .hero-container {
    height: 150vh;
  }

  .hero-Container>div>img {
    height: 400px;
  }

  .square {
    top: 13%;
    left: 13%;
  }

  .hero-container-right {
    width: 80%;
    right: 10%;
    top: 75%;
  }

  .hero-heading {
    text-align: center;
  }

  .star {
    top: 33%;
    right: 5%;
    height: 20px;
  }

  .globe {
    top: 3%;
    left: 65%;
  }
}

@media screen and (max-width: 479px) {
  .list {
    display: none;
  }

  .navbar-container>div>img {
    margin-left: 30px;
  }

  .search-icon {
    right: 35%;
  }

  .nav-button {
    top: 0%;
  }

  .hero-container>div>img {
    height: 400px;
    margin-left: 30px;
  }

  .hero-container {
    height: 110vh;
  }

  .square {
    display: none;
  }

  .hero-container-right {
    width: 80%;
    right: 10%;
    top: 75%;
  }

  .button-email {
    margin-left: 40px;
  }

  .hero-heading {
    text-align: center;
  }

  .star {
    top: 65%;
    right: 17%;
    height: 20px;

  }

  .globe {
    top: 3%;
    left: 80%;
    z-index: -1;
    height: 30px;
  }
}